.nav {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 0 3.2rem;
  border-radius: var(--base-border-radius);
  background-color: var(--color-primary);
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
}

.nav input {
  width: 70%;
  justify-self: center;
  font-size: 1.6rem;
  background-color: var(--color-primary-light);
  padding: 1.1rem 1.6rem;
  border: none;
  border-radius: var(--base-border-radius);
  color: var(--color-text);
}

.nav input::placeholder {
  color: var(--color-text-dark);
}

.nav input:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.nav .num-results {
  justify-self: right;
  font-size: 1.8rem;
}
